<app-header ></app-header>
 <!-- <div>
    <input type="radio" name="color" value="cyan" (click)="color='cyan'">
    <label>Cyan</label>
    <input type="radio" name="color" value="red" (click)="color='red'">
    <label>red</label>
    <input type="radio" name="color" value="green" (click)="color='green'">
    <label>green</label>
 </div>
<p [appHighlight]="color">hi hover me</p> -->
<!-- <h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p> -->


 
<router-outlet></router-outlet>
 
